

.catTextfield1 {
	
	margin-left: 168px;
		
}



.andJump {
	
	margin-left: 98px;
	
	
	
}

.advertising {
	top: 7px;
}
.classifiedAdvertising {
	top: 32px;
}
.displayAdvertising {
	top: 52px;
}
.newsBusiness {
	top: 92px;
}
.businessFinance {
	top: 117px;
}
.frontPage {
	top: 137px;
}
.index {
	top: 157px;
}
.law {
	top: 177px;
}
.news {
	top: 197px;
}
.politics {
	top: 217px;
}
.tableContents {
	top: 237px;
}
.illustrationType {
	top: 277px;
}
.cartoon {
	top: 302px;
}
.drawingPainting {
	top: 322px;
}
.photograph {
	top: 342px;
}
.chart {
	top: 302px;
}
.map {
	top: 322px;
}
.engraving {
	top: 342px;
}
.colorIllustrations {
	top: 377px;
}
.artsLeisure {
	top: 7px;
}
.artsEntertainment {
	top: 32px;
}
.sport {
	top: 52px;
}
.people {
	top: 92px;
}
.appointments {
	top: 117px;
}
.birthsDeathsMarriages {
	top: 137px;
}
.obituaries {
	top: 157px;
}
.royalty {
	top: 177px;
}
.specialIssues {
	top: 277px;
}
.editorialCommentary {
	top: 7px;
}
.featureArticles {
	top: 32px;
}
.lettersEditor {
	top: 52px;
}
