
#browseContributorTop {
margin-top: -1px;
	z-index: 1;
	
}

.findContributorLabel {
	
	top: 23px;
	
	
}
.findContributorText {
	
	top: 20px;
	
}

.rolloverSearch a {

top:20px;

}



.searchAplpha {
	
	top: 90px;
	
}

.alphaMenu {
	
	top: 118px;
	left: 25px;
	
	
}