@charset "utf-8";
#gallery {
	width: 1000px;
	height: 270px;
	background-color: #000000;
	background-image: url(../images/ImageViewerBG.png);
	background-repeat: no-repeat;
}
#gallery img {
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
}
#gallery_nav {
	float: left;
	width: 553px;
	height: 270px;
	text-align: left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
#gallery_output {
	float: left;
	width: 446px;
	height: auto;
	overflow: hidden;
}
#gallery_output img {
	display: block;
	margin: 20px auto 0 auto;
}
#gallery li {
	list-style-type:none;
}
#topSpacer {
	height: 20px;
	width: 300px;
}
#thumbText {
	float:left;
	height: auto;
	width: 420px;
}
.thumbContainer {
	width: 97px;
	height: 64px;
	text-align: right;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left: 40px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.pic_img a {
	float:right;
}
.resultList {
	padding:0 0 16px;
}
.resultList ul li {
	list-style:none;
	float:left;
	margin:0 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.resultList ul li.docImg {
	width:auto;
	overflow:hidden;
}
.resultList ul li.resultInfo {
	width:320px;
	position:relative;
	z-index:99;
}
.resultList ul li.resultInfo p {
	margin-top:7px;
}
.resultList ul li.docbg {
	margin-left:0;
	margin-right:5px;
}
.whiteOnDark:link {
	color: #FFFFFF;
	text-decoration: none;
}
.whiteOnDark:visited {
	text-decoration: none;
}
.whiteOnDark:hover {
	text-decoration: none;
	color: #FE811F
}
.whiteOnDark:active {
	text-decoration: none;
}
