@charset "utf-8";
/* CSS Document */
#contentContainer {
	padding-bottom: 20px;
}
#browseContributorTop {
	background: url(../images/browse-by-date-background.png);
	background-repeat: repeat-x;
	width: 998px;
	height: auto;
	min-height: 170px;
	overflow: visible;
	padding-bottom: 10px;
}
.headingBar {
	width: 250px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: left;
}
.breadcrumb {
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffffff;
	font-size:12px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}


.typeYearLabel {
	font-family: Tahoma, Geneva, sans-serif;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 30px;
	left: 250px;
}
.typeYearText {
	position: absolute;
	top: 50px;
	left: 250px;
	height: 22px;
	width: 195px;
	border: 1px solid #333333;
}
.rolloverSearch a {
	color: #ffffff;
	background: url(../images/button-bg.png);
	background-repeat: no-repeat;
	display:block;
	font:bold 13px sans-serif;
	height:24px;
	position:absolute;
	right:247px;
	text-decoration:none;
	top:50px;
	width:102px;
	text-align: center;
	padding: 4px 0 0 0;
}
.rolloverSearch a:hover {
	background: url(../images/button-bg.png);
	background-repeat: no-repeat;
	color: #ffcc33;
}
.browseThumbs {
	width: 800px;
	height: auto;
	margin-left: 85px;
	list-style-type: none;
	margin-top: 20px;
}
.browseThumbs ul {
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	position: relative;
	height: 150px;
}
.browseThumbsOne {
	background: url(../images/thumb-background.png) repeat-x top left;
	border: 1px solid #5d170e;
	height: 150px;
	width: 120px;
	padding-top: 5px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 10px;
}
.coverThumbsOne {
	position: absolute;
	top: 30px;
	left: 15px;
}
.browseThumbsTwo {
	background: url(../images/thumb-background.png) repeat-x top left;
	border: 1px solid #5d170e;
	height: 150px;
	width: 120px;
	padding-top: 5px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 140px;
}
.coverThumbsTwo {
	position: absolute;
	top: 30px;
	left: 15px;
}
.browseThumbsThree {
	background: url(../images/thumb-background.png) repeat-x top left;
	border: 1px solid #5d170e;
	height: 150px;
	width: 120px;
	padding-top: 5px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 270px;
}
.coverThumbsThree {
	position: absolute;
	top: 30px;
	left: 15px;
}
.browseThumbsFour {
	background: url(../images/thumb-background.png) repeat-x top left;
	border: 1px solid #5d170e;
	height: 150px;
	width: 120px;
	padding-top: 5px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 400px;
}
.coverThumbsFour {
	position: absolute;
	top: 30px;
	left: 15px;
}
.browseThumbsFive {
	background: url(../images/thumb-background.png) repeat-x top left;
	border: 1px solid #5d170e;
	height: 150px;
	width: 120px;
	padding-top: 5px;
	display: inline;
	position: absolute;
	top: 5px;
	left: 530px;
}
.coverThumbsFive {
	position: absolute;
	top: 30px;
	left: 15px;
}
#browseContributorSearch {
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 10px;
 *margin-top: 27px;
}
#browseDateBackTop {
	width: 998px;
	height: auto;
	border-top: 1px solid #000000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 0;
	margin-top: 40px;
	text-align: center;
}
#browseDateBackTop a:hover {
	color: #666666;
}