@charset "utf-8";
/* CSS Document */

#contentContainer {
	padding-top: 15px;
	padding-bottom: 10px;
	border-top: 1px solid #cccccc;
}
#markedPanel {
	width: 788px;
	height: auto;
	background: #ffffff;
	margin: 10px 10px 0 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
}
#headingBar {
	height: 50px;
	width: 100%;
	background: url(../images/heading-bg.png) no-repeat;
	margin-top: 5px;
	border-top: 1px solid #000000;
	position: relative;
}
#headingBar h1 {
	width: 250px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: left;
}
.icons {
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position: absolute;
	right: 333px;
	top: 0px;
}
.icons li {
	display: inline;
	list-style-type: none;
	padding-left: 13px;
}
#markedPageInfo {
	width: 100%;
	background: #ffffff;
	padding-top: 5px;
	position: relative;
}
.markedInfo {
	font-family: Tahoma, Geneva, sans-serif;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	width: 400px;
	height: auto;
}
.removeAll {
	position: absolute;
	top: 30px;
	right: 10px;
}
.removeAll a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.markedListBox {
	width: auto;
	height: 130px;
	background: #ffffff;
}
.markedList {
	list-style-type: none;
	width: auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	border: 1 px solid #0F0;
	background: #cccccc;
	margin-top: 10px;
	border-top: 1px solid #000000;
	position: relative;
}
.markedList li {
	display: inline;
}
.markedList .markItem {
	position: absolute;
	left: 10px;
	top: 5px;
}
.markedList .markLabel {
	position: absolute;
	left: 27px;
	top: 5px;
}
.markedList .thumbnail {
	position: absolute;
	left: 20px;
	top: 5px;
}
.markedList .multiPage {
	position: absolute;
	left: 200px;
	top: 5px;
}
.markedList .articleTitle {
	position: absolute;
	left: 230px;
	top: 5px;
	width: 400px;
	font-weight: bold;
}
.markedList .description {
	position: absolute;
	left: 230px;
	top: 50px;
	width: 400px;
}
.markedList .listLinks {
	position: absolute;
	left: 230px;
	top: 110px;
}
.markedList .illustration {
	position: absolute;
	right: 10px;
	top: 5px;
}
.markedList .articleType {
	position: absolute;
	right: 10px;
	top: 50px;
}
.markedList .remove {
	position: absolute;
	right: 10px;
	top: 110px;
	font-weight: bold;
}
.markedList .remove a {
	text-decoration: underline;
}
#backToTop {
	height: auto;
	width: 100%;
	text-align:center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 14px;
	padding-bottom: 6px;
	border-top: 1px solid #000000;
	margin-top: 10px;
}
#backToTop a:hover {
	color: #666666;
}
#footer {
	width: 990px;
}
#footer {
	border: none;
}
