@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #2d4563;
	font-weight: bold;
}
a:hover {
	color:  #666666;
}
#savePrintContainer {
	width: 700px;
	height: 330px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	background-repeat: repeat-x;
	color: #000000;
	background: url(../images/bookmark-save-print-heading-bg.png);
	background-repeat: no-repeat;
}
#heading {
	width: 100%;
	height: auo;
	position: relative;
}
.savePrintHeading {
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	position: absolute;
	top: 15px;
	left: 0px;
	padding: 0 0 10px 5px;
}

.selectFormat {
	width: 430px;
	position: absolute;
	top: 3px;
	left: 260px;
	font-size:14px;
}
.pdf1 {
	position: absolute;
	top: 70px;
	left: 5px;
}
.pdf1Label {
	position: absolute;
	top: 70px;
	left: 25px;
	width: 300px;
}
.pdf2 {
	position: absolute;
	top: 90px;
	left: 5px;
}
.pdf2Label {
	position: absolute;
	top: 90px;
	left: 25px;
	width: 300px;
}
.pdf4 {
	position: absolute;
	top: 110px;
	left: 5px;
}
.pdf4Label {
	position: absolute;
	top: 110px;
	left: 25px;
	width: 100%;
}
.pdf5 {
	position: absolute;
	top: 130px;
	left: 5px;
}
.pdf5Label {
	position: absolute;
	top: 130px;
	left: 25px;
	width: 100%;
}
.pdf6 {
	position: absolute;
	top: 150px;
	left: 5px;
}
.pdf6Label {
	position: absolute;
	top: 150px;
	left: 25px;
	width: 100%;
}

.enterImage {
	position: absolute;
	top: 160px;
	left: 295px;
	width: 260px;
	height: 22px;
	border: 1px solid #000000;
}
.enterImageLabel {
	position: absolute;
	top: 165px;
	left: 5px;
	font-weight: bold;
}
.note {
	position: absolute;
	top: 200px;
	left: 5px;
	width: 650px;
}
.savePrintCancel {
	position: absolute;
	top: 290px;
	left: 5px;
	font-weight: bold;
	color:#000000;
}
