@charset "utf-8";
/* CSS Document */

.pdf1 {
	position: absolute;
	top: 70px;
	left: 5px;
}
.pdf1Label {
	position: absolute;
	top: 74px;
	left: 25px;
	width: 300px;
}
.pdf2 {
	position: absolute;
	top: 95px;
	left: 5px;
}
.pdf2Label {
	position: absolute;
	top: 99px;
	left: 25px;
	width: 300px;
}
.pdf3 {
	position: absolute;
	top: 120px;
	left: 5px;
}
.pdf3Label {
	position: absolute;
	top: 124px;
	left: 25px;
}
.pdf4 {
	position: absolute;
	top: 145px;
	left: 5px;
}
.pdf4Label {
	position: absolute;
	top: 149px;
	left: 25px;
	width: 100%;
}
.pdf5 {
	position: absolute;
	top: 170px;
	left: 5px;
}
.pdf5Label {
	position: absolute;
	top: 174px;
	left: 25px;
	width: 100%;
}