@charset "utf-8";
/* CSS Document */

#advSearchTop {
	background: #616161 url(../images/advanced-search-background.png);
	background-repeat: repeat-x;
	width: 998px;
	height: auto;
	overflow: visible;
	padding-bottom: 20px;
}
.headingBar {
	width: 250px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: left;
}
.breadcrumb {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size:12px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}
/*.breadcrumb a {
	color: #FE811F;
}
.breadcrumb a:hover {
	color: #AD2217;
}*/


#advSearchCategories {
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 10px;
}
.fuzzySearch {
	position: absolute;
	top: 20px;
	right: 130px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
/*.fuzzySearch a {
	color: #FE811F;
}

.fuzzySearch a:hover {
	color: #AD2217;
}*/



.helpFuzzy {
	position: absolute;
	top: -5px;
	left:90px;
}
.catJumpMenuTop {
	list-style-type: none;
	display: inline;
}
.catJumpMenuTop li {
	padding-top: 40px;
}
.catTextfield1 {
	height: 22px;
	width: 270px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	margin-left: 185px;
}
.catLabel1 {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 5px;
}
.categoryJump1 {
	height: 22px;
	width: 130px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	margin-right: 5px;
}
.fuzzyJump1 {
	height: 22px;
	width: 72px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
}
.catJumpMenuLower {
	list-style-type: none;
	display: inline;
}
.catJumpMenuLower li {
	padding-top: 5px;
}
.andJump {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	margin-left: 115px;
	margin-right: 6px;
	width: 60px;
}
.catTextfield2 {
	height: 22px;
	width: 270px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
}
.catLabel2 {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 5px;
}
.categoryJump2 {
	height: 22px;
	width: 130px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	margin-right: 5px;
}
.fuzzyJump2 {
	height: 22px;
	width: 72px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
}
#searchButtons {
	height: 24px;
	width: 100%;
	margin-top: 10px;
	position: relative;
}
.rolloverAddRow a {
	color: #D2EDF6;
	background:url("../images/buttons/button-green-background.png") no-repeat scroll 0 0 transparent;
	border-bottom-color:#666666;
	display:block;
	font:bold 13px sans-serif;
	height:24px;
	text-decoration:none;
	width:102px;
	position:absolute;
	top:0;
	left:185px;
	padding: 4px 0 0 0;
	text-align: center;
}
.rolloverAddRow a:hover {
	background: url("../images/buttons/button-black-background.png") 0 0 no-repeat;
	color: #669B9B;
}
.rolloverClear a {
	color: #D2EDF6;
	display:block;
	width: 102px;
	height: 24px;
	font: bold 13px sans-serif;
	background: url("../images/buttons/button-green-background.png") 0 0 no-repeat;
	text-decoration: none;
	border-bottom-color: #666;
	position:absolute;
	top:0;
	left:300px;
	padding: 4px 0 0 0;
	text-align: center;
}
.rolloverClear a:hover {
	background: url("../images/buttons/button-black-background.png") 0 0 no-repeat;
	color: #669B9B;
}
.rolloverSearch a {
	color: #D2EDF6;
	display:block;
	width: 102px;
	height: 24px;
	font: bold 13px sans-serif;
	background: url("../images/buttons/button-green-background.png") 0 0 no-repeat;
	text-decoration: none;
	border-bottom-color: #666;
	position:absolute;
	top:0;
	left:597px;
	padding: 4px 0 0 0;
	text-align: center;
}
.rolloverSearch a:hover {
	background: url("../images/buttons/button-black-background.png") 0 0 no-repeat;
	color: #669B9B;
}
.searchLimitersHeading {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 10px;
	border-bottom: 1px solid #000000;
	position: relative;
}
.helpLimiting {
	position: absolute;
	top: 5px;
	left: 150px;
}
#searchLimitersJumpMenus {
	position: relative;
	height: 80px;
	margin-top: 10px;
}
.pubDate {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.onJump {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 10px;
	left: 120px;
}
.dateJump1 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 10px;
	left: 200px;
}
.monthJump1 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 10px;
	left: 260px;
}
.yearJump1 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 10px;
	left: 355px;
}
.dateJump2 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 40px;
	left: 200px;
}
.monthJump2 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 40px;
	left: 260px;
}
.yearJump2 {
	height: 22px;
	border-color:#333333;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	top: 40px;
	left: 355px;
}
#searchLimitersCheckboxes {
	height: 305px;
	position: relative;
	list-style-type: none;
	margin-top: 10px;
	/*margin-bottom: 24px;*/
	border-bottom: 1px solid #000000;
	padding-bottom: 15px;
}
#advertising {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.advertising {
	position: absolute;
	top: 10px;
	left: 40px;
}
.advertisingLabel {
	position: absolute;
	top: 10px;
	left: 60px;
	font-weight: bold;
}
.classifiedAdvertising {
	position: absolute;
	top: 35px;
	left: 45px;
}
.classifiedAdvertisingLabel {
	position: absolute;
	top: 35px;
	left: 65px;
}
.displayAdvertising {
	position: absolute;
	top: 55px;
	left: 45px;
}
.displayAdvertisingLabel {
	position: absolute;
	top: 55px;
	left: 65px;
}
#editorialCommentary {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.editorialCommentary {
	position: absolute;
	top: 10px;
	left: 265px;
}
.editorialCommentaryLabel {
	position: absolute;
	top: 10px;
	left: 285px;
	font-weight: bold;
}
.artsEnt {
	position: absolute;
	top: 35px;
	left: 270px;
}
.artsEntLabel {
	position: absolute;
	top: 35px;
	left: 290px;
}
.featureArticles {
	position: absolute;
	top: 55px;
	left: 270px;
}
.featureArticlesLabel {
	position: absolute;
	top: 55px;
	left: 290px;
}
.lettersEditor {
	position: absolute;
	top: 75px;
	left: 270px;
}
.lettersEditorLabel {
	position: absolute;
	top: 75px;
	left: 290px;
}
.obituaries {
	position: absolute;
	top: 95px;
	left: 270px;
}
.obituariesLabel {
	position: absolute;
	top:95px;
	left: 290px;
}
.poem {
	position: absolute;
	top: 115px;
	left: 270px;
}
.poemLabel {
	position: absolute;
	top:115px;
	left: 290px;
}
.science {
	position: absolute;
	top: 135px;
	left: 270px;
}
.scienceLabel {
	position: absolute;
	top:135px;
	left: 290px;
}
#miscellaneous {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.miscellaneous {
	position: absolute;
	top: 10px;
	left: 530px;
}
.miscellaneousLabel {
	position: absolute;
	top: 10px;
	left: 550px;
	font-weight: bold;
}
.cover {
	position: absolute;
	top: 35px;
	left: 535px;
}
.coverLabel {
	position: absolute;
	top: 35px;
	left: 555px;
}
.listings {
	position: absolute;
	top: 55px;
	left: 535px;
}
.listingsLabel {
	position: absolute;
	top: 55px;
	left: 555px;
}
.pubMatter {
	position: absolute;
	top: 75px;
	left: 535px;
}
.pubMatterLabel {
	position: absolute;
	top: 75px;
	left: 555px;
}
.toc {
	position: absolute;
	top: 95px;
	left: 535px;
}
.tocLabel {
	position: absolute;
	top: 95px;
	left: 555px;
}
#illustrations {
	width: 290px;
	height: 200px;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-left: 1px solid #000000;
	position: absolute;
	top: 10px;
	left: 705px;
}
.illustrationType {
	position: absolute;
	top: 0px;
	left: 40px;
}
.illustrationTypeLabel {
	position: absolute;
	top: 0px;
	left: 60px;
	font-weight: bold;
}
.cartoon {
	position: absolute;
	top: 25px;
	left: 45px;
}
.cartoonLabel {
	position: absolute;
	top: 25px;
	left: 65px;
}
.chart {
	position: absolute;
	top: 45px;
	left: 45px;
}
.chartLabel {
	position: absolute;
	top: 45px;
	left: 65px;
}
.drawingPainting {
	position: absolute;
	top: 65px;
	left: 45px;
}
.drawingPaintingLabel {
	position: absolute;
	top: 65px;
	left: 65px;
}
.map {
	position: absolute;
	top: 85px;
	left: 45px;
}
.mapLabel {
	position: absolute;
	top: 85px;
	left: 65px;
}
.photograph {
	position: absolute;
	top: 105px;
	left: 45px;
}
.photographLabel {
	position: absolute;
	top: 105px;
	left: 65px;
}
.rolloverSearchBottom a {
	color: #D2EDF6;
	display:block;
	width: 102px;
	height: 24px;
	font: bold 13px sans-serif;
	background: url("../images/buttons/button-green-background.png") 0 0 no-repeat;
	text-decoration: none;
	border-bottom-color: #666;
	position: absolute;
	top: 280px;
	right: 200px;
	padding: 4px 0 0 0;
	text-align: center;
}
.rolloverSearchBottom a:hover {
	background: url("../images/buttons/button-black-background.png") 0 0 no-repeat;
	color: #669B9B;
}
