@charset "utf-8";
/* CSS Document */

* {
margin: 0;
padding: 0;
}

a {
	text-decoration: none;
	color: #669B9B;
	font-weight: bold;
}

a:hover {
	color: #D2EDF6;
}

#emailContainer {
	width: 700px;
	height: 700px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}
#emailTop {
	width: 700px;
	height: 202px;
	background: url(../images/email-background.png);
	color: #ffffff;
	position: relative;
}

.emailHeading {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	position: absolute;
	top: 20px;
	left: 5px;
}
.selectFormat {
	position: absolute;
	top: 12px;
	right: 5px;
	font-size:15px;
}
.emailText {
	position: absolute;
	top: 70px;
	left: 100px;
	width: 260px;
	height: 22px;
	border: 1px solid #000000;
}

.emailTextLabel {
	position: absolute;
	top: 72px;
	left: 50px;
	font-weight: bold;
}
.separate {
	position: absolute;
	top: 100px;
	left: 100px;
}


.sendCancel {
	position: absolute;
	top: 165px;
	left: 100px;
}

.emailOptions {
	position: absolute;
	top: 210px;
	left: 5px;
	font-weight:bold;
	font-size: 14px;
}
.emailFormat {
	position: absolute;
	top: 230px;
	left: 5px;
	font-weight:bold;
	width: 100px;
}

.htmlRadio {
	position: absolute;
	top: 250px;
	left: 100px;
}
.htmlRadioLabel {
	position: absolute;
	top: 250px;
	left: 120px;
}

.plainText {
	position: absolute;
	top: 270px;
	left: 100px;
}
.plainTextLabel {
	position: absolute;
	top: 270px;
	left: 120px;
}

.note {
	position: absolute;
	top: 300px;
	left: 5px;
	width: 650px;
}


.subject {
	position: absolute;
	top: 380px;
	left: 100px;
	width: 260px;
	height: 22px;
	border: 1px solid #000000;
}
.subjectLabel {
	position: absolute;
	top: 385px;
	left: 22px;
	font-weight: bold;
}
	
.sender {
	position: absolute;
	top: 410px;
	left: 100px;
	width: 260px;
	height: 22px;
	border: 1px solid #000000;
}
.senderLabel {
	position: absolute;
	top: 415px;
	left: 9px;
	font-weight: bold;
}
.message {
	position: absolute;
	top: 442px;
	left: 100px;
	height: 200px;
	width: 260px;
	border: 1px solid #000000;
}
.messageLabel {
	position: absolute;
	top: 447px;
	left: 35px;
	font-weight: bold;
}
.sendCancelBottom {
	position: absolute;
	top: 660px;
	left: 100px;
	font-weight: bold;
}
.sendCancelBottom a:hover {
	color:  #00234b;
}