@charset "utf-8";
/* CSS Document */

#contentContainer {
	background: #ffffff url(../images/navigation-shadow.png);
	background-repeat: repeat-x;
	padding-top: 20px;
}


#leftPanel {
	width: 180px;
	height: auto;
	float: left;
	margin: 10px 0 0 10px;
	background: #000000 url(../images/search-results-navigation-background.png);
	background-repeat:no-repeat;
	padding-bottom: 25px;
	position: relative;
}


.searchWithin {
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 10px;
	left: 5px;
}
.withinFieldText {
	width: 112px;
	border:1px solid #000000;
	height:22px;
	position: absolute;
	top: 40px;
	left: 5px;
	
}
.rolloverGo a {
	color: #D2EDF6;
	display:block;
	width: 50px;
	height: 18px;
	font: bold 13px sans-serif;
	background: url("../images/buttons/button-green-background.png") 0 0 no-repeat;
	text-decoration: none;
	float: left;
	border-bottom-color: #666;
	position: absolute;
	top: 40px;
	right: 5px;
	border: 1px solid #ffffff;
	padding-top: 4px;
	text-align: center;
}
.rolloverGo a:hover {
	background: url("../images/buttons/button-black-background.png") 0 0 no-repeat;
	color: #669B9B;
}

.limitBy {
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 100px;
	left: 5px;
}

.limitByJump {
	border:1px solid #333333;
	height:22px;
	position: absolute;
	top: 130px;
	left: 5px;
}
.withinList {
	margin-top: 180px;
	padding-left: 5px;
}
.withinList li {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-bottom: 7px;
	list-style-type: none;
	
}
/*.withinList li a {
	color: #FE811F;
}
.withinList li a:hover {
	color: #AD2217;
}*/

#rightPanel {
	width: 785px;
	height: auto;
	background: #ffffff;
	float: right;
	margin: 10px 10px 5px 0;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
#headingBar {
	height: 50px;
	width: 100%;
	background: #669b9b;
	border-top: 1px solid #000000;
}
#headingBar h1 {
	width: 250px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: left;
}
.breadcrumb {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size:12px;
	font-weight: bold;
	text-indent: 10px;
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}
.breadcrumb a {
	color: #D2EDF6;
}
.breadcrumb a:hover {
	color: #ffffff;
}
#resultsPageInfo {
	width: 100%;
	min-height: 60px;
	background: #ffffff;
	padding-top: 5px;
}
.resultsInfo {
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	font-size: 12px;
	float: left;
	width: 400px;
	height: auto;
}
.resultsInfo a {
	color: #00234b;
}
.resultsInfo a:hover {
	color:#669B9B;
}
.resultsInfoJumpBox {
	color: #000000;
	font-size: 12px;
	position: relative;
	float: right;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.resultsInfoJumpLabel {
	color: #000000;
	position: absolute;
	top: 7px;
	right: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.resultsInfoJump {
	color: #000000;
	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 10px;
	border:1px solid #000000;
	height:22px;
}
.resultsInfoShowing {
	width: 100%;
	position: relative;
}
.markAll {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 12px;
}
.markAllLabel {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 15px;
	left: 27px;
	font-size: 12px;
}
.showing {
	list-style-type: none;
	position: absolute;
	top: 15px;
	left: 100px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.resultsNumbers {
	list-style-type: none;
	position: absolute;
	top: 15px;
	left: 285px;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}
.resultsNumbers a {
	color: #669B9B;
}
.resultsNumbers a:hover {
	color: #00234b;
}
.resultsNumbers a.active {
	color: #ffffff;
	background: #669B9B;
	padding: 0 3px;
}
.resultsNumbers li {
	display: inline;
}
.goToPageLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	top: 15px;
	left: 518px;
}
.goToPageTextarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 590px;
	border:1px solid #000000;
	height:22px;
}
.rolloverGoToPage a {
	display:block;
	width: 50px;
	height: 24px;
	font: bold 13px sans-serif;
	background: url("../images/buttons/GoButton.png") 0 0 no-repeat;
	text-decoration: none;
	position: absolute;
	top: 10px;
	right: 10px;
	border-bottom-color: #666;
}
.rolloverGoToPage a:hover {
	background-position: 0 -24px;
}
.rolloverGoToPage a:active {
	background-position: 0 -24px;
}
.resultsNumbers li {
	display: inline;
}
.resultsListBox {
	width: auto;
	height: 130px;
	background: #ffffff;
}
.resultsList {
	list-style-type: none;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1 px solid #0F0;
	background: #cccccc;
	margin-top: 10px;
	border-top: 1px solid #000000;
	position: relative;
}
.resultsList a {
	color: #669B9B;
}
.resultsList a:hover {
	color: #00234b;
}
.resultsList a.active {
	color: #ffffff;
	background: #669B9B;
	padding: 0 3px;
}
.resultsList li {
	display: inline;
}
.resultsList .markItem {
	position: absolute;
	left: 10px;
	top: 5px;
}
.resultsList .markLabel {
	position: absolute;
	left: 27px;
	top: 5px;
}
.resultsList .thumbnail {
	position: absolute;
	left: 65px;
	top: 5px;
}
.resultsList .multiPage {
	position: absolute;
	left: 220px;
	top: 5px;
}
.resultsList .articleTitle {
	position: absolute;
	left: 250px;
	top: 5px;
	width: 400px;
	font-weight: bold;
}
.resultsList .description {
	position: absolute;
	left: 250px;
	top: 50px;
	width: 400px;
}
.resultsList .listLinks {
	position: absolute;
	left: 250px;
	top: 110px;
}
.resultsList .illustration {
	position: absolute;
	right: 10px;
	top: 5px;
}
.resultsList .articleType {
	position: absolute;
	right: 10px;
	top: 50px;
}
#backToTop {
	height: auto;
	width: 100%;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #000000;
}
#backToTop a {
	color: #669B9B;
}
#backToTop a:hover {
	color: #00234b;
}
